.checkout_main {
  display: flex;
  flex-direction: column;
  .checkout_form {
    width: 100%;
    height: 100vh;
    padding: 0 100px 188px 100px;
    display: flex;
    gap: 131px;
    flex-direction: row;
  }
  h3 {
    margin: 72px 0 42px 0;
  }
  h4 {
    color: #3e424a;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 46px 0;
  }
  .form_aside {
    background-color: #86d5f95d;
    border-radius: 16px;
    width: 1129px;
    height: 635px;
    padding: 72px 0 0 47px;
  }
}
.email_wrapper{
    width: 578px;
}

.name_surname,
.adress_code {
  display: flex;
  gap: 24px;
  input {
    width: 277px;
  }
  div{
    display: flex;
    flex-direction: column;
  }
}
.email {
  width: 578px !important;
}

.main_form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.inputError {
  border: 1px solid red;
}

.errorText {
  height: 16px;
  min-width: 1px;
  display: inline-block;
  color: red;
  font-size: 12px;
}

.cart_item {
  display: flex;
  color: #10151f;
  width: 460px;
  height: 134px;
  gap: 17px;
  margin-bottom: 36px;

  .name_price {
    display: flex;
    justify-content: space-between;
  }
  h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10.5px 0;
  }
  img {
    width: 100px;
    height: 100%;
    border: 1px solid #e1dfe1;
    border-radius: 10px;
  }
  p {
    font-size: 12px;
    color: #3e424a;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
  }
  .quantity_controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    height:26px;
  }
  .item_details {
    display: flex;
    flex-direction: column;
    padding: 8.5px 0;
    width: 343px;
  }
  button.delete_button {
    background-color: transparent;
    color: #3e424a;
  }
}
.cart_footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 460px;
    .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.items_list {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  box-sizing: content-box;
}
.items_list::-webkit-scrollbar {
  width: 6px;
}
.items_list::-webkit-scrollbar-thumb {
  background: #88888851;
  border-radius: 4px;
}
.items_list::-webkit-scrollbar-thumb:hover {
  background: #55555565;
}
.cart_items{
    display: flex;
    flex-direction: column;
    height:495px;
    justify-content: space-between;
}

.quantity_box {
  width: 70px;
  height: 27px;
  border: 1px solid #e1dfe1;
  border-radius: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: 400;

  color: #3e424a;
  button {
    background-color: white;
    margin: 0;
    height: 24px;
    color: #10151f;
  }
}
.pay{
    height: 59px;
   width: 100%;
   margin-top: 76px;
}

@media screen and (max-width: 1450px){
  .checkout_main {
  .checkout_form {
    padding: 0 35px 100px 35px;
    gap: 30px;
  }
}
}

@media screen and (max-width: 1200px) {
    .checkout_main {
  .checkout_form {
    padding: 0 35px 100px 35px;
    gap: 100px;
    flex-direction: column;
align-items: center;
gap: 50px;

  }
  h3{
    text-align: center;
  }
  .form_aside{
    width: 100%;
    max-width: 700px;
    min-height: 400px;
  }
  div.items_list{
    display: flex;
justify-content: center;
flex-direction: column;
  }
 
  }

}

@media screen and (max-width: 745px){
  .checkout_main {
    .checkout_form{
      padding: 0 20px 50px 20px;
      gap: 50px;
      flex: 1;
    }
    div.main_form{
      div{
        flex-direction: column;
        gap: 0;
      }
    }
   input, .email_wrapper{
    width: 240px
   }
   .form_aside{
    padding: 30px;
    width: 300px;
    height: auto;
   }
   h4{
    margin-bottom: 20px;
   }
 .item_details{
  width: 300px;
 
 }
 .cart_items{
    width: 280px;
 }
 .cart_item{
  width: 100%;
 }
 .item_details{
   
  div{
    flex-direction: column;
  margin: 0;
  }
  p, button{
    margin: 0;
  }
  h4{
    margin-bottom: 10px;
  }
  .quantity_controls{
gap: 0;
align-items: start;
  }
  .quantity_box{
    flex-direction: row;

  }
 }
 .cart_footer{
  width: 280px;
  .wrapper{
    width: 100%;
  }
 }
  }
}
