.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:#10151f3c;
  z-index: 998;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 540px;
  height: 100%;
  max-width: 90%;
  padding: 20px;
  z-index: 999;
}