.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #10151f3c;
  z-index: 998;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 540px;
  height: 100%;
  max-width: 90%;
  padding: 40px 20px 41px 40px;
  z-index: 999;
}

.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 63px;
  button {
    background: transparent;
    color: #10151f;
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.empty_cart {
  margin-top: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 120px;
    height: 97.8px;
    margin-bottom: 37px;
  }
  p.note {
    font-weight: 600;
    font-size: 24px;
    color: #10151f;
    margin-bottom: 10px;
  }
  .nothing_in_cart {
    font-weight: 400;
    font-size: 14px;
    color: #3e424a;
  }
  button {
    width: 214px;
    height: 41px;
    border-radius: 10px;
    margin-top: 58px;
  }
}

.cart_item {
  display: flex;
  color: #10151f;
  width: 460px;
  height: 134px;
  gap: 17px;
  margin-bottom: 36px;

  .name_price {
    display: flex;
    justify-content: space-between;
  }
  h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10.5px 0;
  }
  img {
    width: 100px;
    height: 100%;
    border: 1px solid #e1dfe1;
    border-radius: 10px;
  }
  p {
    font-size: 12px;
    color: #3e424a;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
  }
  .quantity_controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
  }
  .item_details {
    display: flex;
    flex-direction: column;
    padding: 8.5px 0;
    width: 343px;
  }
  button.delete_button {
    background-color: transparent;
    color: #3e424a;
  }
}
.cart_footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  bottom: 20px;
  width: 460px;
  background-color: white;

  div {
    display: flex;
    justify-content: space-between;
  }
  .checkout_button {
    height: 59px;
    /* margin-top: 102px; */
    /* position: absolute; */

  }
}
.items_list {
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  box-sizing: content-box;
}
.items_list::-webkit-scrollbar {
  width: 6px;
}
.items_list::-webkit-scrollbar-thumb {
  background: #88888851;
  border-radius: 4px;
}
.items_list::-webkit-scrollbar-thumb:hover {
  background: #55555565;
}

.quantity_box {
  width: 70px;
  height: 26px;
  border: 1px solid #e1dfe1;
  border-radius: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #3e424a;
  button {
    background-color: white;
    color: #10151f;
  }
}


@media screen and (max-width: 700px) {
  .modal {
    width: fit-content;
    padding: 20px;
  }
.cart_items{
    width: 280px;
 }
 .cart_item{
  width: 100%;
 }
 .item_details{
   
  div{
    flex-direction: column;
  margin: 0;
  }
  p, button{
    margin: 0;
  }
  h4{
    margin-bottom: 10px;
  }
  .quantity_controls{
gap: 0;
align-items: start;
  }
  .quantity_box{
    flex-direction: row;

  }
 }
 .cart_footer{
  width: 280px;
  .wrapper{
    width: 100%;
  }
 }
  .checkout_button{
width: 100%;
  }
}