@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #3e424a;
}
input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e1dfe1;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 100px 0 103.7px;
  justify-content: space-between;
  .brand_header {
    display: flex;
    align-items: center;
    gap: 7.7px;
    cursor: pointer;
  }
  h1 {
    font-size: 16px;
    font-weight: 600;
    color: #10151f;
  }
  img {
    width: 16.5px;
    height: 21px;
  }
  .right_side {
    cursor: pointer;
  }
  .login_link {
    color: black;
    font-size: 12px;
  }
  .user_wrapper {
    display: flex;
    align-items: center;
  }
  img {
    width: 13.2px;
    height: 16px;
  }
}

button {
  background-color: #ff4000;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.form_aside {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 554px;

  input {
    width: 100%;
    height: 42px;
  }

  button {
    height: 41px;
    margin: 22px 0 24px 0;
  }
}
h2 {
  font-size: 42px;
  font-weight: 600;
  color: #10151f;
  text-align: left;
  margin: 0 0 40px 0;
}
span {
  color: #3e424a;
  font-size: 14px;
}

.login_link {
  font-weight: 500;
  color: #ff4000;
  text-decoration: none;
  margin-left: 8px;
}

.input_wrapper {
  position: relative;
  .second_asterisk {
    left: 57px;
  }
  .third_asterisk {
    left: 87px;
  }
  .fourth_asterisk {
    left: 147px;
  }
  img {
    position: absolute;
    right: 13.65px;
    top: 14.75px;
    cursor: pointer;
  }
}
.asterisk {
    color: red;
    position: absolute;
    top: 10px;
    left: 90px;
  }
  .from_asterisk{
    bottom: 10px;
    left: 53px;
}
.to_asterisk{
  bottom:10px;
  left: 220px;
}
  .hidden {
    display: none;
  }

.error_text {
  color: #ff4000;
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  height: 16px;
}

.error_input {
  border: 1px solid #ff4000;
}

.right_context2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logout_button_wrapper {
  position: relative;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/downArrow.png);
}
.log_out_btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: 80px;
  height: 25px;
}

.small_menu_avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.small_menu_cart{
  cursor: pointer;
  width: 20.9px;
  height: 19.5px;
}
